
<!DOCTYPE html>
<html>
  <head>
    <title>DNS Record Validator</title>
    <meta name="description" content="DNS Record Validator">
    <meta name="keywords" content="HTML, CSS, JavaScript , bootstrap , node, express, dns">
    <meta name="author" content="Anis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <div class="container">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>:(</h1>
                </div>
                <h2>
                    <%= error.status %> - <%= message %>
                </h2>
                <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                <a href="/">home page</a>
            </div>
        </div>
    </div>
  </body>
</html>
